*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	line-height:24px;
	color:#8e7b7bbd;
	font-weight:500;
}
img{
	border:none;
	outline:none;
	max-width:100%;
}
a,a:active,a:focus,a:hover{
	outline:none;
	text-decoration:none;
}
a{
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
input:focus,textarea:focus,select:focus{
	outline:none!important;
	box-shadow:none;
}
ul{
	margin:0;
	list-style-type:none;
}

.container{
	width:1140px;
	margin:0 auto;
}
.one-third{
	width:33.33%;
	float:left;
	height:auto;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.half{
	width:50%;
	float:left;
	height:auto;
}
.text-center{
	text-align:center;
}
.wrapper-outer{ 
	width:100%;
	float:left;
	height:auto;
	background:url() no-repeat center top;
	-webkit-background-size:100% auto;
	-ms-background-size:100% auto;
	background-size:100% auto;
}
.wrapper-inner{
	width:100%;
	float:left;
	height:auto;
	background:url() no-repeat center bottom;
	-webkit-background-size:100% auto;
	-ms-background-size:100% auto;
	background-size:100% auto;
}

/*============================ header =======================*/
.header .container{
	width:1400px;
}
.header{
	width:100%;
	float:left;
	height:auto;
	position:relative;
	padding:23px 0 33px;
}
.header::before{
	width:100%;
	float:left;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	content:'';
	background: #fff8f8;
	opacity:0.72;
}
.header .container{
	position:relative;
	z-index:3;
}
.header-top{
	width:100%;
	height:auto;
	float:left;
	margin:0 0 28px;
}
.logo{
	width:auto;
	float:left;
	height:auto;
}
.header-top .pull-right li{
	font-size:14px;
	color:#636363;
	line-height:32px;
	vertical-align:middle;
	display:inline-block;
	margin-left:30px;
	font-family: 'Nanum Gothic', sans-serif;
	padding-bottom:7px;
	padding-right:5px;
	position:relative;
}
.header-top .pull-right li::before{
	right:0;
	left:5px;
	height:0px;
	border-bottom:0px dashed #222931;
	content:'';
	position:absolute;
	bottom:0;
}
.header-top .pull-right li::after{
	left:5px;
	height:14px;
	border-left:0px dashed #222931;
	content:'';
	position:absolute;
	bottom:0;
}
.header-top .pull-right li:first-child{
	margin-left:0;
}
.header-top .pull-right li img{
	display:inline-block;
	margin:0 8px 0 0;
	vertical-align:middle;
}
.menu-wrappeer{
	width:100%;
	float:left;
	height:auto;
	background:#d5c5c5;
	padding:3px 0;
	position:relative;
}
.menu-wrappeer::before{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	content:'';
	border:3px dashed #fff;
}
.logo a,
.logo a img{
	float:left;
}
.inner-wrapper{
	width:100%;
	float:left;
	height:auto;
	position:relative;
	z-index:2;
}
.inner-wrapper::before{
	width:213px;
	height:77px;
	position:absolute;
	left:-50px;
	content:'';
	background:url() no-repeat left top;
	top:-20px;
}
.inner-wrapper::after{
	width:213px;
	height:77px;
	position:absolute;
	right:-50px;
	content:'';
	background:url() no-repeat left top;
	top:-20px;
}
.menu_inner{
	width:100%;
	float:left;
	height:auto;
	position:relative;
}
.menu_inner::before{
	width:90px;
	height:77px;
	position:absolute;
	left: 9px;
    top: -20px;
	content:'';
	background:url() no-repeat center center;
	z-index:-1;
}
.menu_inner::after{
	width:90px;
	height:77px;
	position:absolute;
	right: 9px;
    top: -20px;
	content:'';
	background:url() no-repeat center center;
	z-index:-1;
}

/*======================== Menu Design ==================*/
#menu-switcher, 
.navbar-header > label,
.switch {
    display: none;
}
.menu-container{
	width:100%;
	float:left;
	height:auto;
}
.menu-container label::before {
    border-bottom: 2px solid #fff;
    box-shadow: 0 5px 0 0 #fff, 0 0 0 0 inset, 0 -5px 0 0 #fff;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.switch{
	width:100%;
	float:left;
	height:auto;
	min-height:45px;
	position:relative;
}
.menu-container label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    cursor: pointer;
    display: none;
    height: 35px;
    padding: 0;
    position: absolute !important;
    right: 17px;
    top: 4px;
    width: 40px;
    z-index: 9999;
	border:1px solid #fff;
}

#navbar{
	width:100%;
	float:left;
	height:auto;
}
#navbar ul{
	text-align:center;
}
#navbar ul li{
	display:inline-block;
	vertical-align:middle;
	margin:0 30px;
}
#navbar ul li a{
	font-size:18px;
	color:#fff;
	line-height:24px;
	display:inline-block;
	padding:8px 10px;
	font-weight:700;
	font-family: 'Nanum Gothic', sans-serif;
}
#navbar ul li a:hover,
#navbar ul li.active a{
	color:#fff;
	background:#c8c5c5;
}

/*========================== Content =========================*/
.content{
	width:100%;
	float:left;
	height:auto;
	padding:70px 0 100px;
}
.content-inner{
	width:100%;
	float:left;
	height:auto;
}
.desc-right{
	width:465px;
	float:right;
	height:auto;
}
.product-info{
	width:100%;
	float:left;
	height:auto;
}
.product-info .title{
	width:100%;
	float:left;
	height:auto;
	font-size:30px;
	color:#ff06e7;
	font-weight:400;
	position:relative;
	line-height:normal;
	font-family: 'Nanum Gothic', sans-serif;
	text-align:center;
	margin:0 0 16px;
}


.description{
	width:100%;
	float:left;
	height:auto;
	text-align:center;
}
.description p{
	font-size:14px;
	color:#858585;
	line-height:24px;
	margin:0 0 27px;
}
.price{
	width:100%;
	float:left;
	height:auto;
	text-align:center;
	margin:0 0 9px;
}
.sale-price{
	font-size:60px;
	color:#a48b8b;
	font-weight:400;
	line-height:normal;
	font-family: 'Nanum Gothic', sans-serif;
}

/*============================== Slider ========================*/
.slider-block{
	width:610px;
	float:left;
	height:auto;
}

.frame {
	width:100%; 
	height:512px; 
	padding:30px 462px 30px 0px; 
	margin:0 auto; 
	overflow:hidden; 
	position:relative; 
}
.frame::before{
	top:0;
	right:0;
	bottom:0;
	left:23px;
	border:1px solid #a7abae;
	position:absolute;
	content:'';
	z-index:999;
}
.frame div {
	margin-left:0; 
	width:111px;
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
	transition:1s;
	height:2220px;
}
.frame .big-img {
	position:absolute; 
	width:480px; 
	height:512px; 
	top:0; 
	right:0; 
	opacity:0;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.frame .big-img img{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	max-height:100%;
	max-width:100%;
	margin:auto;
}
.frame .frame-inner{
	width:129px;
	padding-right:0;
	overflow:hidden;
}

.frame input {
	position:relative; 
	left:0; 
	display:none;
}
.frame label.thumb {
	display:block; 
	width:129px; 
	height:95px; 
	float:left; 
	margin:0px 0 22px;
	border:1px solid #aa93924f;
	position:relative;
	z-index:9999;
}
.frame label.thumb::before{
	position:absolute;
	left:0;
	bottom:-22px;
	content:'';
	height:22px;
	width:23px;
	background:url() no-repeat center center;
}
.frame label.thumb img {
	cursor:pointer;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	max-height:100%;
	max-width:100%;
	margin:auto;
}
.frame label.thumb:hover img {
	opacity:1;
}

.frame label.left {
	position: absolute;
	left: 0;
	top: 8px;
	margin: 0;
	cursor: pointer;
	width: 129px;
	height: 11px;
	text-align: center;
}
.frame label.thumb.lab4,
.frame label.thumb.lab8,
.frame label.thumb.lab12,
.frame label.thumb.lab16 {
    margin-bottom: 20px;
}
.frame label.right {
	position: absolute;
	left: 0;
	bottom: 15px;
	margin: 0;
	cursor: pointer;
	width: 129px;
	height: 11px;
	text-align: center;
}
.frame label.left img,
.frame label.right img {
	margin-top:0;
	display:inline-block;
}
.frame label.left img{
	vertical-align:top;
}
.frame label.thumb.lab4,
.frame label.thumb.lab8,
.frame label.thumb.lab12,
.frame label.thumb.lab16{
	margin-bottom:36px;
}

.frame label.one,
.frame label.two,
.frame label.three,
.frame label.four,
.frame label.five,
.frame label.six {
	z-index:99999;
}

.frame input#push1:checked ~ label.six,
.frame input#push3:checked ~ label.one,
.frame input#push5:checked ~ label.two,
.frame input#push7:checked ~ label.three,
.frame input#push9:checked ~ label.four,
.frame input#push11:checked ~ label.five,
.frame input#push2:checked ~ label.two,
.frame input#push4:checked ~ label.three,
.frame input#push6:checked ~ label.four,
.frame input#push8:checked ~ label.five,
.frame input#push10:checked ~ label.six,
.frame input#push12:checked ~ label.one {
	z-index:999999;
}



.frame input#push3:checked ~ div,
.frame input#push12:checked ~ div {
	margin-top: 0px;
}
.frame input#push11:checked ~ div,
.frame input#push7:checked ~ div ,
.frame input#push4:checked ~ div ,
.frame input#push8:checked ~ div{
	margin-top: -964px;
}
.frame input#push2:checked ~ div,
.frame input#push10:checked ~ div ,
.frame input#push1:checked ~ div,
.frame input#push5:checked ~ div{
	margin-top: -482px;
}
.frame input#push6:checked ~ div,
.frame input#push9:checked ~ div {
	margin-top: -1446px;
}

.frame input#pic1:checked ~ .lab1,
.frame input#pic2:checked ~ .lab2,
.frame input#pic3:checked ~ .lab3,
.frame input#pic4:checked ~ .lab4,
.frame input#pic5:checked ~ .lab5,
.frame input#pic6:checked ~ .lab6,
.frame input#pic7:checked ~ .lab7,
.frame input#pic8:checked ~ .lab8,
.frame input#pic9:checked ~ .lab9,
.frame input#pic10:checked ~ .lab10,
.frame input#pic11:checked ~ .lab11,
.frame input#pic12:checked ~ .lab12,
.frame input#pic13:checked ~ .lab13,
.frame input#pic14:checked ~ .lab14,
.frame input#pic15:checked ~ .lab15,
.frame input#pic16:checked ~ .lab16,
.frame input#pic17:checked ~ .lab17,
.frame input#pic18:checked ~ .lab18,
.frame input#pic19:checked ~ .lab19,
.frame input#pic20:checked ~ .lab20 {
	opacity:1;
}

.frame input#pic1:checked ~ .big-img.p1,
.frame input#pic2:checked ~ .big-img.p2,
.frame input#pic3:checked ~ .big-img.p3,
.frame input#pic4:checked ~ .big-img.p4,
.frame input#pic5:checked ~ .big-img.p5,
.frame input#pic6:checked ~ .big-img.p6,
.frame input#pic7:checked ~ .big-img.p7,
.frame input#pic8:checked ~ .big-img.p8,
.frame input#pic9:checked ~ .big-img.p9,
.frame input#pic10:checked ~ .big-img.p10,
.frame input#pic11:checked ~ .big-img.p11,
.frame input#pic12:checked ~ .big-img.p12,
.frame input#pic13:checked ~ .big-img.p13,
.frame input#pic14:checked ~ .big-img.p14,
.frame input#pic15:checked ~ .big-img.p15,
.frame input#pic16:checked ~ .big-img.p16 {
	opacity:1; 
	z-index:100;
}

/*=========================== List Info ======================*/
.info-list{
	width:100%;
	float:left;
	height:auto;
}
.info-list ul{
	border:0px solid #9d8b8ad4;
	padding:30px;
	width:210px;
}

.info-list ul li{
	font-size:14px;
	color:#5a5a5a;
	margin:0 0 25px;
}
.info-list ul li:last-child{
	margin:0;
}

/*========================= tab-outer =====================*/
.tab-outer{
	width:100%;
	float:left;
	height:auto;
	padding:80px 0;
	border-top:0px dashed #fff;
	border-bottom:0px dashed #fff;
	background:rgba(255,255,255,0.71);
}
.tab-inner{
	width:100%;
	float:left;
	height:auto;
	background:#c1b1b02b url() no-repeat center top;
	padding:40px 30px 40px 40px;
	position:relative;
}
.tab-inner::before{
	top:-18px;
	bottom:-18px;
	left:-5px;
	width:0px;
	background:#fff;
	content:'';
	position:absolute;
	border-radius:25px;
	z-index:4;
}
.tab-inner::after{
	top:-24px;
	bottom:-24px;
	left:-11px;
	width:124px;
	background:#f2eaeb;
	content:'';
	position:absolute;
	border-radius:25px;
	z-index:3;
}
.tab-block{
	width:100%;
	float:left;
	height:auto;
}
.label-block{
	width:100%;
	float:left;
	height:auto;
	
}
.tab-block  input[type="radio"] {
    display: none;
}
.tabs .tab-selector-1:checked ~ .label-block .tab-label-1, .tabs .tab-selector-2:checked ~ .label-block .tab-label-2, .tabs .tab-selector-3:checked ~ .label-block .tab-label-3, .tabs .tab-selector-4:checked ~ .label-block .tab-label-4,
.label-block label:hover{
	color:#fff;
	background:#ddcdcd75;
}
.tabs .tab-selector-1:checked ~ .tab-content #menu1, .tabs .tab-selector-2:checked ~ .tab-content #menu2, .tabs .tab-selector-3:checked ~ .tab-content #menu3, .tabs .tab-selector-4:checked ~ .tab-content #menu4 {
    height: auto;
    opacity: 1;
    width: 100%;
    z-index: 100;
	visibility:visible;    
	padding:0;
}

.tab-content > .tab-pane {
    box-sizing: border-box;
    float: left;
    height: 0;
    position: relative;
    z-index: 1;
	overflow:hidden;
	opacity:0;
}
.label-block{
	width:160px;
	text-align:center;
	margin:0;
	float:left;
	position:relative;
	z-index:9;
}
.label-block label{
	font-size:18px;
	color:#fff;
	line-height:22px;
	font-weight:400;
	cursor:pointer;
	margin:0 10px;
	width:100%;
	float:left;
	padding:6px 30px;
	position:relative;
	background:#b7aaaab3;
	color:#241a1a;
	margin:0 0 23px;
	font-family: 'Slabo 27px', serif;
	text-align:left;
}
.label-block label::before{
	width:22px;
	height:23px;
	position:absolute;
	left:0;
	bottom:-23px;
	content:'';
	background:url() no-repeat center center;
}
.tabs .tab-selector-1:checked ~ .label-block .tab-label-1::before, 
.tabs .tab-selector-2:checked ~ .label-block .tab-label-2::before, 
.tabs .tab-selector-3:checked ~ .label-block .tab-label-3::before, 
.tabs .tab-selector-4:checked ~ .label-block .tab-label-4::before,
.label-block label:hover::before{
	width:22px;
	height:23px;
	position:absolute;
	left:0;
	bottom:-23px;
	content:'';
	background:url() no-repeat center center;
}
.tab-content{
	width:870px;
	float:right;
	height:auto;
	padding:0px;
}
.tab-content p{
	margin:0 0 24px;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	color:#666666;
	font-family:'Nanum Gothic', sans-serif;
}
.panel-left{
	width:50%;
	padding-right:15px;
	float:left;
}
.video-block{
	float:right;
	height:auto;
	width:50%;
	padding-left:15px;
}
video.responsive-video{
	width:100%;
}
/*=========================== Featured block ===========================*/
.services-block{
	width:100%;
	float:left;
	height:auto;
	padding:80px 0;
}

/*=========================== Footer ==========================*/
.footer{
	width:100%;
	float:left;
	height:auto;
	padding:46px 0 0;
	background:rgba(66, 53, 53, 0.32);
	position:relative;
}
.footer .container{
	position:relative;
	z-index:9;
}
.footer-logo{
	width:auto;
	height:auto;
	float:left;
}
.quick-link{
	width:auto;
	float:right;
	padding-top:15px;
}
.quick-link li{
	display:inline-block;
	margin:0 0 0 60px;
	float:left;
}
.quick-link li a{
	font-size:18px;
	color:#fff;
	/*! display:inine-block; */
	line-height:23px;
	font-weight:bold;
}
.quick-link li a:hover{
	color:#aa9393;
}
.footer .info{
	width:100%;
	display:block;
	text-align:center;
}
.footer .info li{
	display:inline-block;
	margin:0 20px;
	line-height:26px;
	font-size:18px;
	color:#fff;
	padding-left:38px;
}
.copryright{
	width:100%;
	float:left;
	height:auto;
	color:#fff;
	font-size:14px;
	line-height:25px;
	padding:12px 0;
	position:relative;
	text-align:center;
}
.service-item{
	width:100%;
	float:left;
	text-align:center;
}
.service-item li{
	float:left;
	width:360px;
	padding:0 25px 30px 25px;
	border:0px solid #d5bfbf;
	border-top:none;
	text-align:left;
	margin-right:30px;
	background:#fff;
	display:table;
}
.service-item li .icon{
	display:table-cell;
	vertical-align:top;
	width:auto;
}
.service-item li .icon img{
	max-width:none;
}
.icon_info{
	display:table-cell;
	padding-left:30px;
}
.service-item li h3{
	font-size:18px;
	color:#4f5151;
	font-weight:400;
	margin:0 0 10px;
}
.service-item li:last-child{
	margin:0;
}
.service-item li p{
	font-size:16px;
	color:#969696;
	line-height:normal;
	font-weight:400;
	margin:0 0 0px;
	line-height:24px;
}
.footer-top{
	width:100%;
	float:left;
	height:auto;
	border-bottom:1px solid #fff;
	padding-bottom:14px;
}

/*======================================== Responsive Design =============================*/
@media only screen and (max-width: 479px){
.header-top{
	font-size:14px;
}
.quick-link li{
	margin:0!important;
}
.label-block label{
	width:100%;
	float:left;
	text-align:center;
}
.section-title h2{
	font-size:20px;
}
.section-title{
	background-size: 600px auto;
}
.section-title h2 span{
	padding:0 12px;
}
.product-item li{
	width:100%!important;
	margin:0 0 30px!important;
}
.quick-link li {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0;
}
.footer .info li {
    display: inline-block;
    margin: 0 0 10px;
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    padding-left: 38px;
    float: left;
    width: 100%;
    text-align: left;
}
.slider-block{
	width:290px;
}
.frame{
	padding:22px 230px 22px 0px;
	height:250px;
}
.frame .big-img{
	width:220px;
	height:228px;
}
.frame label.thumb{
	width:70px;
	margin:0 0 13px;
	height:40px;
}
.frame label.right img {
    vertical-align: middle;
}
.frame label.right,
.frame label.left{
	width:70px;
	height:11px;
}
.frame input#push3:checked ~ div,
.frame input#push12:checked ~ div {
	margin-top: 0px;
}
.frame input#push11:checked ~ div,
.frame input#push7:checked ~ div ,
.frame input#push4:checked ~ div ,
.frame input#push8:checked ~ div{
	margin-top: -470px;
}
.frame input#push2:checked ~ div,
.frame input#push10:checked ~ div ,
.frame input#push1:checked ~ div,
.frame input#push5:checked ~ div{
	margin-top: -235px;
}
.frame input#push6:checked ~ div,
.frame input#push9:checked ~ div {
	margin-top: -705px;
}
.frame div{
	width:70px;
}
.product-info .title{
	font-size:22px;
}
.sale-price{
	font-size:35px;
}
.frame label.thumb::before{
	background-size:100% auto;
	width:13px;
	bottom:-17px;
}
.frame::before{
	left:13px;
}



}

@media only screen and (min-width: 480px) and (max-width:639px) {
.label-block label{
	font-size:14px;
	padding: 13px 15px;
}
.product-item li h3{
	font-size:30px;
}
.product-item li p{
	font-size:16px;
}
.quick-link li{
	margin:0 20px;
}
.footer .info li{
	margin:0 10px 10px;
}
.slider-block{
	width:450px;
}
.frame{
	padding:22px 350px 22px 0px;
	height:373px;
}
.frame .big-img{
	width:350px;
	height:365px;
}
.frame label.thumb{
	width: 88px;
	margin: 0 0 22px;
	height: 64px;
}
.frame label.right img {
    vertical-align: middle;
}
.frame label.right,
.frame label.left{
	width:88px;
	height:11px;
}
.frame input#push3:checked ~ div,
.frame input#push12:checked ~ div {
	margin-top: 0px;
}
.frame input#push11:checked ~ div,
.frame input#push7:checked ~ div ,
.frame input#push4:checked ~ div ,
.frame input#push8:checked ~ div{
	margin-top: -716px;
}
.frame input#push2:checked ~ div,
.frame input#push10:checked ~ div ,
.frame input#push1:checked ~ div,
.frame input#push5:checked ~ div{
	margin-top: -358px;
}
.frame input#push6:checked ~ div,
.frame input#push9:checked ~ div {
	margin-top: -1074px;
}


}
@media only screen and (max-width: 639px){
.list-block{
	width:100%;
	padding:6px 0;
	font-size:16px;
}
.list-block label{
	font-size:16px;
}
}

@media only screen and (min-width: 640px) and (max-width:767px) {
}

@media only screen and (max-width: 767px){
.container,
.header .container{
	width:100%;
	padding:0 15px;
}
.label-block label{
	width:100%;
}

.tab-inner::before,
.tab-inner::after{
	display:none;
}
.product-item{
	padding:0;
}
.tab-content{
	padding:30px 0 0;
}
.tab-outer{
	padding:40px 0;
}
.tab-inner{
	padding:0;
}
.section-title{
	margin:0 0 40px;
	background-size: 600px auto;
}
.content{
	padding:30px 0 20px;
}
.featured-block{
	padding:45px 0 15px;
}
.navbar-header > label, .switch,
.menu-container label{
	display:block;
}
#navbar {
    display: none;
}
#menu-switcher:checked + #navbar {
    display: block;
}
.product-item li{
	width:48%;
	margin:0 4% 30px 0;
}
.product-item li:nth-child(2n){
	margin-right:0;
}
#navbar .pull-left::before,
#navbar .pull-right::before{
	width:0;
}
.header-top .contact{
	width:100%;
	text-align:center;
	margin:0  0 10px;
}
.header-top .hour{
	width:100%;
	text-align:center;
}
.logo{
	position:relative;
	top:auto;
	left:auto;
	width:100%;
	text-align:center;
	padding:0 0 10px;
}
.header-top .pull-right{
	width:100%;
	text-align:center;
}
.header-top .pull-right li{
	font-size:13px;
	margin:0 10px 5px;
}
.header-top .pull-right li img{
	width:24px;
}
.menu-container{
	width:100%;
	float:left;
	height:auto;
	position:relative;
	padding-bottom:4px;
}
#navbar ul{
	width:100%!important;
}
#navbar ul li{
	width:100%;
	float:left;
	margin:0!important;
	text-align:left;
}
#navbar ul li a{
	display:block;
	padding:8px 15px;
}
.content{
	position:relative;
	z-index:1;
}

.content-inner{
	padding:0;
}
.slider-block{
	margin:0 auto;
	float:none;
}
.desc-right{
	width:100%;
	margin:30px 0 0;
}
.full{
	max-width:100%;
}
.service-list li{
	width:100%!important;
	margin:0 0 25px;
	text-align:center;
}
.service-list p{
	max-width:100%;
}
.tab-block{
	padding:20px 20px 20px;
}
.service-item li {
    float: left;
    width: 100%;
    padding: 0 20px 40px;
	margin:0 0 20px;
}
.service-item li .icon {
    display: block;
    vertical-align: top;
    width: 100%;
}
.icon_info{
	display:block;
	padding:0;
}
.services-block{
	padding:50px 0;
}
.footer-logo{
	width:100%;
	text-align:center;
}
.quick-link{
	width:100%;
	text-align:center;
}
.quick-link li{
	float:none;
	display:inline-block;
	margin:0 10px;
}
.panel-left{
	width:100%;
	padding:0 0 10px;
}
.info-list ul{
	width:100%;
	margin:0 0 20px;
}
.video-block{
	width:100%;
	padding-left:0px;
}
.menu_inner::before,
.menu_inner::after,
.inner-wrapper::before,
.inner-wrapper::after{
	display:none;
	left:auto;
	right:auto;
}
.label-block{
	width:100%;
}
.tab-content{
	width:100%;
}
.logo{
	width:100%;
	text-align:center;
}

.logo a{
	display:inline-block;
	float:none;
}

}



@media only screen and (min-width: 768px) and (max-width:991px) {
.container{
	width:750px;
}
.header .container{
	width:750px;
}
#navbar .pull-left::before,
#navbar .pull-right::before{
	width:0;
}
#navbar ul li{
	margin:0 0px!important;
}
#navbar .pull-left,
#navbar .pull-right{
	width:auto;
}
.header-top{
	font-size:15px;
}
#navbar ul li a{
	padding:11px 20px;
}
.desc-right{
	width:100%;
	margin:40px 0 0;
}
.content{
	padding:40px 0;
}
.tab-inner{
	padding:40px 15px;
}
.service-list li{
	width:33.33%!important;
}
.service-list li .service-title{
	font-size:16px;
}
.service-icon img{
	width:auto;
	height:35px;
}
.product-item li{
	width:48%;
	margin:0 4% 30px 0;
}
.product-item li:nth-child(2n){
	margin-right:0;
}
.featured-block{
	padding:50px 0 20px;
}
.full{
	max-width:100%;
}
.header-top .pull-right li{
	font-size:13px;
}
.header-top .pull-right li img{
	width:25px;
	height:auto;
}
.logo {
    width: 100%;
    padding-top: 0;
	text-align:center;
}
.logo a{
	float:none;
	display:inline-block;
}
.slider-block {
    margin: 0 auto;
    float: none;
}
.product-item{
	padding:0;
}
.service-item li{
	padding:0 15px;
}
.menu_inner::before,
.menu_inner::after,
.inner-wrapper::before,
.inner-wrapper::after{
	display:none;
	left:auto;
	right:auto;
}
.info-list ul{
	width:48%;
}
.tab-content{
	width:535px;
}
.service-item li{
	width:230px;
	padding:0 15px 15px
}
.service-item li .icon{
	width:100%;
	display:block;
}
.icon_info {
    display: block;
    padding-left: 0px;

}
.services-block{
	padding:50px 0;
}


}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
.container{
	width:970px;
}
.header .container{
	width:970px;
}
#navbar .pull-left::before,
#navbar .pull-right::before{
	width:0;
}
#navbar ul li{
	margin:0 20px!important;
}
#navbar .pull-left,
#navbar .pull-right{
	width:auto;
}
.content-inner{
	padding:0;
}
.desc-right{
	width:330px;
}
.service-list li{
	width:33.33%!important;
}
.product-info .title{
	font-size:22px;
}
.price{
	margin:0 0 5px;
}
.list-block{
	width:100%;
}
.service-item li{
	padding:0 20px 20px;
	width:302px;
}
.menu_inner::before,
.menu_inner::after,
.inner-wrapper::before,
.inner-wrapper::after{
	display:none;
	left:auto;
	right:auto;
}

.info-list ul{
	width:100%;
	margin:0 0 20px;
}
.service-item li p{
	font-size:13px;
}
.tab-content{
	width:700px;
}
.sale-price{
	font-size:40px;
}
.content{
	padding:60px 0;
}
.header-top .pull-right li{
	font-size:13px;
	margin-left:15px;
}

}
@media only screen and (min-width: 1200px) and (max-width: 1550px) {
.header .container{
	width:1170px;
}
#navbar ul li{
	margin:0 18px;
}
}

@media only screen and (min-width: 1800px){
.footer .container{
	width:1400px;
}
.services-block .container{
	width:1215px;
}
.service-item li{
	width:374px;
	margin-right:45px;
}

}





